.eventos {
  min-height: 100vh;
  width: 100%;
  color: var(--blanco);
}
.image-background {
  height: 250px;
  width: 100%;
  background-image: url("./../img/5-EVENTOS/bg_eventos.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
  text-align: center;
}
.image-background p {
  width: 70%;
}

.second-content {
  display: flex;
  gap: 1rem;
  padding: 5% 2%;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--blancos);
}
.second-content div {
  display: flex;
  gap: 1rem;
}
.second-content div img {
  max-width: 15px;
}
.second-content div p {
  font-size: 1rem;
}
.third-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding-top: 2%;
}
.third-content img {
  width: 100%;
}
.galeria {
  margin: 0 auto;
  /* padding: 5%; */
  text-align: center;
  color: var(--rojoPrimario);
}
.galeria .sono-btn {
  padding: 1.5rem;
  margin: 0;
}

@media (min-width: 768px) {
  .third-content {
    grid-template-columns: repeat(4, 1fr);
  }
  .second-content div p {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
