footer {
  height: auto;
  margin: 5%;
}
.footer-contain {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  color: var(--blanco);
  gap: 2rem;
  align-items: center;
}
.footer-contain h3 {
  color: var(--rojoPrimario);
}

.footer-contacto-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.footer-mapa {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-mapa li {
  margin-top: 1rem;
  text-align: center;
}
.footer-mapa li a {
  text-decoration: none;
  color: var(--blanco);
}
.powered {
  text-align: center;
}
.powered img {
  max-width: 200px;
  padding: 2rem 0;
}

@media (min-width: 980px) {
  .footer-contain {
    grid-template-rows: none;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
  }
  .footer-contain h3 {
    font-size: 1.5rem;
    text-align: left;
  }
  .footer-contacto-item {
    text-align: left;
  }
  .footer-mapa li {
    text-align: left;
  }
  .powered {
    text-align: left;
  }
}
