.inicio {
  min-height: 100vh;
}
.main-content {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
}
.content-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content-left img {
  width: 100%;
  max-width: 400px;
}
.content-left img:first-of-type {
  position: absolute;
  top: 15%;
  left: 0;
  z-index: -1;
}
.content-left img:nth-child(1) {
  z-index: -1;
}
.content-left img:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.content-right {
  background-image: url("./../img/1-INICIO/bg_logo.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  height: 100%;
  width: 100%;
  color: var(--blanco);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-right .sono-btn {
  padding: 2rem 0 0;
}
.content-right .title-info {
  width: 100%;
  margin: 0 auto;
}
.content-img {
  height: 80%;
  background-size: 74%;
  text-align: center;
  background-position: center;
  background-image: url("./../img/1-INICIO/bg_logo.png");
  background-repeat: no-repeat;
}

@media (max-width: 980px) {
  .main-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .content-right {
    min-height: 60vh;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 2rem;
  }
}
