.inicio {
  min-height: 100vh;
}
.main-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.content-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.content-left img {
  width: 100%;
  max-width: 500px;
}

.content-right {
  background-image: url("./../img/1-INICIO/bg_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 80%;
  padding: 10% 5%;
  color: var(--blanco);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-right .title-info {
  width: 100%;
  margin: 0 auto;
}
.content-img {
  height: 80%;
  background-size: 74%;
  text-align: center;
  background-position: center;
  background-image: url("./../img/1-INICIO/bg_logo.png");
  background-repeat: no-repeat;
}

@media (max-width: 980px) {
  .main-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .content-left img {
    width: 100%;
    max-width: 300px;
  }
  .content-right {
    height: 100%;
    width: 100%;
    padding: 20% 5% 10%;
  }
}
